* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
body {
    background: #3F8FD2;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #05386B;
}
h1.friends-pending {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 50px;
    background: #f06330;
    box-shadow: 0 1px 3px rgb(0, 0, 0), 0 1px 5px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

h2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#f06330;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	cursor:pointer;
	color:#333333;
	font-weight:bold;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    margin: 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
h2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color: #f06330;
}
h2:active {
	position:relative;
	top:1px;
}

/* h2 {
    font-size: 2em;
    text-align: center;
    padding: 15px;
    margin: 50px;
    background: #f06330;
    box-shadow: 0 1px 3px rgb(0, 0, 0), 0 1px 5px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

h2:hover {

} */

h3 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: #05386B;
}

.bio-wraper {
    margin-left: 100px;
}

.friends-page-wraper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.warper-friends {
    border-right: solid 10px black;
    background-color: #C9F600;
    width: 100%;
}

.friends {
    background: #3F8FD2;
    border: black 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: 30px;
    justify-content: space-evenly;
    box-shadow: 0 1px 15px rgb(0, 0, 3), 0 10px 3px 1px rgba(4, 5, 6, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: inline-block;
}

.wraper-pending {
    border-left: solid 10px black;
    background-color: #C9F600;
    width: 100%;
}

.pending {
    background: #3F8FD2;
    border: black 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: 30px;
    justify-content: space-evenly;
    box-shadow: 0 1px 15px rgb(0, 0, 3), 0 10px 3px 1px rgba(4, 5, 6, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: inline-block;
}

.registration-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    text-align: -webkit-center;
}

.profile-bio {
    display: -webkit-box;
}

.profile-container {
    display: flex;
    background: #AA00A2;
    border: black 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    justify-content: space-around;
    box-shadow: 0 1px 15px rgb(0, 0, 3), 0 10px 3px 1px rgba(4, 5, 6, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.container-profile {
    background: #C9F600;
    margin-top: 50px;
    text-align: center;
    margin-left: 160px;
}

.search-results {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    text-align: center;
    flex-direction: row;
}

.results-card {
    background: #C9F600;
    border: black 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: 30px;
    justify-content: space-evenly;
    box-shadow: 0 1px 15px rgb(0, 0, 3), 0 10px 3px 1px rgba(4, 5, 6, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.profile-pic-container {
    display: flex;
    display: inline-block;
    align-items: center;
}

.profile-bio {
    display: -webkit-box;
}

.wraper-header {
    background: #C9F600;
    border-bottom: solid 15px black;
    height: 215px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.wraper-app {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.bio-wraper {
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
}

.bio-container {
    width: 100%;
    margin-left: 40px;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 35px;
}

.bio {
    display: flex;
}

.logo-welcome {
    margin: 0 auto;
}

.wraper-profile {
    border: solid 15px black;
    display: flex;
}
.chat-big-wraper {
    background-color: #c9f600;
    border: 10px solid;
}
.chat-wraper {
    background-color: #c9f600;
    margin-top: 40px;
    height: 750px;
    overflow-y: scroll;
}

.chat {
    display: flex;
    background: #3f8fd2;
    border: 5px solid;
    margin: 40px;
}


.chat-container {
    align-self: center;
    width: 100%;
    font-size: 15px;
    color: #30649c;
}

img {
    display: flex;
}

img.img-logo {
    height: 500px;
    width: 500px;
}

img.user-img {
    border-radius: 100%;
    border: 6px #f06330 solid;
    display: inline-flex;
    height: 200px;
    width: 200px;
}
img.web-img {
    display: inline-flex;
    height: 400px;
    width: 400px;
}

img.chat-img {
    height: 150px;
    width: 150px;
    margin: 20px;
}

img.img-logo-welcome {
    height: 900px;
    width: 900px;
}

img:hover {
    color: lightgrey;
    box-shadow: 0 11px 12px rgba(2, 9, 8, 1), 0 15px 6px rgba(0, 0, 0, 0.12);
    transition: (all .3s);
}

p {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.09em;
    text-shadow: 0 8px 10px rgba(4, 4, 4, 0.18), 0 5px 7px rgba(0, 0, 0, 0.12);
    text-align: center;
    font-size: 27px;
}

p.search-name{
    letter-spacing: 0.2em;
    font-size: 25px;
    text-decoration: overline;
}
p:visited{
    text-decoration-color: black;
}

p.bio-field {
    margin-top: 50px;
    display: flex;
    width: 45%;
    border-top: 2px solid;
}

p.create-at {
    font-size: 15px;
    float: left;
    margin: 10px;
    color: white;
}

p.chat-message {
    padding: 43px;
    text-align: -webkit-left;
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 310px;
    margin: 177px;
}

.chat-insert-field {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

textarea.chat-field {
    width: 100%;
    height: 100%;
}

input,
textarea {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.29), inset 0px 7px 10px 7px rgba(0, 0, 0, 0.22);
    color: #379683;
    background: #f06330;
    font-size: 22px;
    padding: 35px 30px 9px 21px;
    display: block;
    border: none;
    border-radius: 30px;
    border-bottom: 2px solid #05386B;
}

input:focus {
    outline: none;
}

input:hover {
    color: white;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
 }

button {
    background: #05386B;
    color: white;
    border: none;
    text-align: center;
    margin-top: 30px;
    padding: 15px 45px;
    border-radius: 10px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgb(0, 0, 0), 0 1px 5px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button:hover {
    color: white;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
 }

button:disabled {
  color: white;
  box-shadow: 0 7px 14px rgb(219, 0, 0), 0 5px 5px rgba(0, 0, 0, 0.12);
}

button.edit-click {
    width: 170px;
    display: flex;
    margin-top: 50px;
}

button.save-btn {
    margin-bottom: 20px;
}

button.close-click {
    margin: 5px;
    padding: 5px;
}

.browse-btn:hover {
    color: white;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
 }
.upload-btn {
  font-size: 20px;
}

ul {
    list-style: none;
    font-size: 35px;
}

a {
    text-decoration: none;
}
